<ng-container [ngSwitch]="field">
  <string-field #simpleField
    *ngSwitchCase="'text'"
    [field]="field"
    [input]="input"
    (onChange)="handleChange($event)"
  ></string-field>
  <string-field #simpleField
  *ngSwitchCase="'email'"
  [field]="field"
  [input]="input"
  (onChange)="handleChange($event)"
  ></string-field>
  <string-field #simpleField
  *ngSwitchCase="'password'"
  [field]="field"
  [input]="input"
  (onChange)="handleChange($event)"
  ></string-field>
  <string-field #simpleField
  *ngSwitchCase="'number'"
  [field]="field"
  [input]="input"
  (onChange)="handleChange($event)"
  ></string-field>
  <string-field #simpleField
  *ngSwitchCase="'checkbox'"
  [field]="field"
  [input]="input"
  (onChange)="handleChange($event)"
  ></string-field>
  <string-field #simpleField
  *ngSwitchCase="'radio'"
  [field]="field"
  [input]="input"
  (onChange)="handleChange($event)"
  ></string-field>
  <string-field #simpleField
  *ngSwitchCase="'button'"
  [field]="field"
  [input]="input"
  (onChange)="handleChange($event)"
  ></string-field>
  </ng-container>